*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e6e6e6;
}
/* .wrraper{
    background-color: blue;
   width: 1600px;
   height: 100%;
   margin: auto;
   
} */
/* SectionOne */
.SectionOne{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.info{
    justify-content: space-between;
    max-width:1600px;
    width: 100%;
    display: flex;
}
.infoleft{
    display: flex;
    padding: 10px;
}
.infoleft ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
}
.infomid{
    padding: 10px;
}
.infomid ul{
    display: flex;
    list-style-type: none;
    gap: 15px;

}
.inforight{
    /* background-color: blue; */
    padding: 10px;
    

}
.inforight ul{
    display: flex;
    list-style-type: none;
    gap: 15px;

}
/* sectionTwo */
.SectionTwo{
    width: 100%;
    background-color:#f8f8f8;
    display: flex;
    justify-content: center;
}
.header{
    max-width:1600px;
    width: 100%;
    display: flex;
}
.name{
    width: 20%;
    justify-content: left;
    margin: 20px 0px 20px 0px;
    
    
}
.searchbar{
    width: 40%;
    display: flex;
    margin: 20px 0px 20px 0px;

   
}
.searchbar input{
    width: 500px;
    height: 40px;
}
.searchicon{
    height: 40px;
    width: 50px;
    background-color: blue;
    align-content: center;
    padding-left:5px ;
    color: whitesmoke;
    font-size: small;
}
.header3{
    /* background-color: rgb(56, 219, 240); */
    width: 20%;
    margin: 20px 0px 20px 0px;

}
.header3 ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
}
.header4{
    justify-content: right;
     width: 20%;
    font-size: 15px;
    margin: 20px 0px 20px 0px;
 
}
.header4 ul{
    display: flex;
    list-style-type: none;
    gap: 15px; 
    justify-content: end;
}
/* SectionThree */
.SectionThree{
    width: 100%;
    background-color: #0057d0;
    display: flex;
    justify-content: center;
    }
.hero{
    display: flex;
    max-width:1600px;
    width: 100%;
}
.heroleft{
    width:20%;
    background-color: rgb(250, 216, 65);
    padding:20px;
}
.heromid{
    width:55%;
    padding: 20px;
    color: whitesmoke;
}
.heromid ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.heroright{
    width: 25%;
    display:flex;
    gap:15px;
    justify-content: end;

}
.blog{
    display: flex;
    width: 30%;
    background-color: rgb(250, 216, 65);
    justify-content: center;
    align-items: center;
}
.Contact{
    padding-top: 20px;
    display: flex;
    justify-content: end;
    color: whitesmoke;
}

/* SectionFour */
.SectionFour{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    }
.HeroTwo{
    display: flex;
    max-width:1600px;
    width: 100%;
    padding: 20px 0px 20px 0px; 
    gap:20px
}
.HeroTwo1{
    height: 400px;
    width: 70%;
    /* border: 2px solid black; */
    border-radius: 15px;
    overflow: hidden;
}
.HeroTwo1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
.HeroTwo2{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 30%;
    gap:20px;
}
.HeroTwo2-1{
    border-radius: 15px;
    height: 200px;
    overflow: hidden;
}
.HeroTwo2-1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
.HeroTwo2-2{
    border-radius: 15px;
    /* border: 2px solid black; */
    height: 200px;
    overflow: hidden;
}
.HeroTwo2-2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

/* Section Five */
.SectionFive{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    background-color: gray;
}
.Five{
    margin: 20px 0px 20px 0px;
    display: flex;
    max-width:1600px;
    width: 100%;    
}
.FiveOne{
    height: 80px;
    width: 25%;
    display: flex;
    flex-direction: row;
}
.FiveOne-1{
    width: 20%;
    border-radius: 50%;
    border: 2px solid #0057d0;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: rgb(236, 117, 31);
}
.FiveOne-2{
    width: 80%;
    font-size: x-large;
    padding: 10px 0px 0px 5px;
}
.FiveTwo{
    height: 80px;
    width: 25%;
    display: flex;
    flex-direction: row;
}
.FiveTwo-1{
    width: 20%;
    border-radius: 50%;
    border: 2px solid #0057d0;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: rgb(236, 117, 31);
}
.FiveTwo-2{
    width: 80%;
    font-size: x-large;
    padding: 10px 0px 0px 5px;
}
.FiveThree{
    height: 80px;
    width: 25%;
    display: flex;
    flex-direction: row;
}
.FiveThree-1{
    width: 20%;
    border-radius: 50%;
    border: 2px solid #0057d0;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: rgb(236, 117, 31);
}
.FiveThree-2{
    width: 80%;
    font-size: x-large;
    padding: 10px 0px 0px 5px;
}
.FiveFour{
    height: 80px;
    width: 25%;
    display: flex;
    flex-direction: row;
}
.FiveFour-1{
    width: 20%;
    border-radius: 50%;
    border: 2px solid #0057d0;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: rgb(236, 117, 31);
}
.FiveFour-2{
    width: 80%;
    font-size: x-large;
    padding: 10px 0px 0px 5px;
}

/* Section Six */
.SectionSix{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.six{
    margin: 50px 0px 0px 0px;
    /* display: flex; */
    /* flex-direction: column; */
    max-width:1600px;
    width: 100%;  
    justify-items: center;
    
}
.six h1{
    /* margin-bottom: 20px; */
    font-size: 60px;
    color: black;
    font-weight: 1000;
}
.six div{
    text-align: center;
    font-size: x-large;
    color: rgb(211, 211, 211, 211);
}
.sixone{
    display: flex;
 
  
    margin-top: 50px;
}
.sixone div{
    color: black;
    font-weight: 500;
    width: 200px;
    background-color: #eeedee;
    padding: 8px 10px;
}
/* section seven */
.SectionSeven{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    
}
.seven{
    margin: 50px 0px 50px 0px;
    /* display: flex; */
    /* flex-direction: column; */
    max-width:1600px;
    width: 100%;  
    justify-items: center;
    /* border: 2px solid black; */
    
}
.your-carousel-class{
    width: 100%;
    height: 400px;
    
    
}
.clr{
   
    height: 100%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 30px;
    width: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.clr img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
   
}
.abs{
   position: absolute;
   bottom: 5px;
   font-size: 20px;
   display: flex;
   width: 100%;
   justify-content: center;
   
}
.abs div{
    border-radius: 5px;
    text-align: center;
    background-color: white;
    padding: 5px 15px;
    
}

/* section eight */
.SectionEight{
    width: 100%;
    background-color:#f8f8f8;
    display: flex;
    justify-content: center;
}
.eight{
    margin: 50px 0px 50px 0px;
    /* display: flex; */
    /* flex-direction: column; */
    max-width:1600px;
    width: 100%;  
    justify-items: center;
    
}
.eight h1{
    /* margin-bottom: 20px; */
    font-size: 60px;
    color: black;
    font-weight: 1000;
}
.eight div{
    text-align: center;
    font-size: x-large;
    color: rgb(211, 211, 211, 211);
}
.eightone{
    display: flex;
    margin-top: 50px;
}
.eightone div{
    color: black;
    font-weight: 500;
    width: 200px;
    background-color: #cdcdcd;
    padding: 8px 10px;
}

/* Section nine */
.SectionNine{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.nine{
    margin: 50px 0px 50px 0px;
    /* display: flex; */
    /* flex-direction: column; */
    max-width:1600px;
    width: 100%;  
    justify-items: center;
    /* border: 2px solid black; */
    
}
.your-carousel-class2{
    width: 100%;
    height: 600px;
    
    
}
.clr2{
    height: 100%;
    margin-right: 15px;
    /* padding: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font: 30px;
    width: 100%;
    /* position: relative; */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1.5px 1.5px 0.5px 0.5px rgba(0, 0, 0, 0.0);
    border: 2px solid #cfcfcf;
}


.nineimg img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
   
}
.ninethird{
    height: 70%;
     display: flex;
     background-color: white;

}

.ninecontent{
    height: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.ninecontent p{
    margin: 5px 0px 20px 0px;
}
.ninecontent1{
    height: 100%;
    width: 60%;
    display: flex;
    /* padding: 10px; */
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #cfcfcf;
    box-shadow: 1.5px 1.5px 0.5px 0.5px rgba(0, 0, 0, 0.0);

}
.ninecontent12{
    height: 100%;
    width: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.ninecontent2{
    height: 100%;
    width: 15%;
 }
.ninecontent2 div{
    height: 50%;
    background-color:#cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.5);
}
.ninecontent3{
    /* border: 2px solid black; */
    width: 65%;
    background-color: #0057d0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.ninethirdlogo{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: end;
    /* padding: 10px; */
    overflow: hidden;
}
.ninethirdlogo div{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nineone{
    
    font-size: larger;
    padding: 10px;
    background-color: #f8f8f8;
    color: grey;
    display: flex;
    justify-content: space-between;
}

/* .clr2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
   
}
.abs2{
   position: absolute;
   bottom: 5px;
   font-size: 30px;
   display: flex;
   width: 100%;
   justify-content: center;
   
}
.abs2 div{
    border-radius: 5px;
    text-align: center;
    background-color: white;
    padding: 5px 15px;
    
} */

/* sectio ten */
.SectionTen{
    width: 100%;
    background-color:#eeedee;
    display: flex;
    justify-content: center;
 }

.tenbutton button{
    background-color: #0057d0;
    height: auto;
    font-size: large;
    padding: 15px ;
    color: #cfcfcf;
    border-radius: 5px;
    border: none;
    margin-bottom: 60px;
    
}
.tenbutton{
    margin-bottom: 40px;
}
.ten{
    margin: 5px 0px 50px 0px;
    /* display: flex; */
    /* flex-direction: column; */
    max-width:1600px;
    width: 100%;  
    justify-items: center;
 }
.ten h1{
    /* margin-bottom: 20px; */
    font-size: 60px;
    color: black;
    font-weight: 1000;
}
.ten div{
    text-align: center;
    font-size: x-large;
    color: rgb(211, 211, 211, 211);

}
.tenone{
    display: flex;
 
  
    margin-top: 50px;
}
.tenone div{
    color: black;
    font-weight: 500;
    width: 200px;
    background-color: #cdcdcd;
    padding: 8px 10px;
}
.tencontent{
    border:2px soid black;
}


/* Section eleven */
.SectionEleven{
    width: 100%;
    height: 800px;
    background-color:#eeedee;
    display: flex;
    justify-content: center;
 }
 .eleven{
    margin: 5px 0px 50px 0px;
    /* display: flex; */
    /* flex-direction: column; */
    max-width:1600px;
    width: 100%;  
    justify-items: center;
    display: flex;
    flex-direction: row;
 }
 .oranged{
    height: 3px;
    background: orangered;
    width: 130px;
 }
 .elevenleft{
    height: 700px;
    width: 25%;
    object-fit: cover;
    overflow: hidden;
    padding: 45px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: x-large;
    background-color: #cdcdcd;
 }
 .elevenleft .img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 .elevenleftimg{
    height: 500px;
    overflow: hidden;
 }
 .elevenright{
    height: 700px;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 45px;
    background-color:white;
   
 }
 .elevenrightone{
    /* border: 2px solid rgb(58, 153, 30); */
    width: 100%;
    height: 600px;

    object-fit: cover;
    overflow: hidden;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: x-large;
    background-color: white;
 }
 .elevenright .img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 .elevenrightone_inner{
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    object-fit: cover;
    overflow: hidden;
    width: 30%;
    padding: 10px;
    margin-right: 30px;
    
 }
 .elevenrightone .img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    
 }
 .elevenrightone_innerimg{
    height: 300px;
    overflow: hidden;
    width: 100%;
    object-fit: contain;
   
 }
 .elevenrightone_innerimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 .elevenicon{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #eeedee;
 }
 


 /* Section twelve */
 .SeactionTwelve{
    width: 100%;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
 }
 .twelve{
    margin: 5px 0px 50px 0px;
    max-width:1600px;
    width: 100%;  
    height: 350px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .heading{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: black;
    font-weight: 600;
    
 }
 .your-carousal-class3{
    height: 200px;
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top: 30px;

 }
 .clr3{
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    width: 20px;
    margin-right: 15px;
    border-radius: 5px;
 }
 .clr3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }

 /* Section thirteen */
 .SectionThirteen{
    width: 100%;
    background-color:#3c4a55;
    display: flex;
    justify-content: center;
}
 .thirteen{
    margin: 5px 0px 50px 0px;
    max-width:1600px;
    width: 100%;  
    height: 450px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
 }
 .SectionThirteen_content{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    font-size: larger;
    margin-bottom: 40px;
    color: grey;
 }


 /* Section Fourteen */
 .SectionFourteen{
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
 }
 .fourteen{
    margin: 100px 0px 50px 0px;
    max-width:1600px;
    width: 100%;  
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .SectionFourteen_button{
    display: flex;
    justify-content: center;
    border-radius: 5px;

    
 }
 .SectionFourteen_button div{
    padding: 20px 15px 20px 15px;
    align-items: center;
    font-size: 25px;
    background-color: #eeedee;
    border-radius: 8px;
 }
 .your-carousal-class4{
    /* border: 2px solid black; */
    padding-left:20px ;
    height: 800px;
    display: flex;
    margin-top: 30px;

 }
 .clr4{
    box-shadow: 2px 2px 5px rgba(231, 207, 207, 0.15);
    background-color: #ffffff;
    /* width: 35%; */
    margin-right: 30px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    /* object-fit: contain; */
 }
 .clr4 img{
    height: 50%;
    width: 100%;
    object-fit: cover;
 }
 .abss{
    position: absolute;
    bottom: 50%;
    background-color: #e7e5e7;
    font-size: larger;
    width: 100%;
    text-align: center;
    padding: 10px;

 }
 .clr4_content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 20px;
 }
 .clr4_content p{
    color: grey;
    font-size: larger;
 }
 .date{
    position: absolute;
    top: 20px;
    margin-left: 20px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #0057d0;
    color: #ffffff;
    /* font-size: xx-large; */
 }



 /* Section fifteen */
 .SectionFifteen{
    width: 100%;
    display: flex;
    justify-content: center;
 }
 .fifteen{
    margin: 100px 0px 50px 0px;
    max-width:1600px;
    width: 100%;  
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

.fifteen_inner{
    height: 400px;
    display: flex;
    gap: 80px;
    margin-top: 60px;
}
.fifteen_inner_div{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.fifteen_inner_one{
    height: 33%;
    width: 100%;
   
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
    padding: 10px;
}
.fifteen_inner_one h1{
    

}












 /* section sixteen */
 .SectionSixteen{
    width: 100%;
    background-color:#3c4a55;
    display: flex;
    justify-content: center;
 }
 .sixteen{
    margin: 100px 0px 50px 0px;
    max-width:1600px;
    width: 100%;  
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .sixteen_inner{
    display: flex;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .sixteen_inner_div{
    height: 130px;
    width:25%;
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    gap: 10px;

 }
 .sixteen_img{
    width: 25%;
    height: 100%;
    overflow: hidden;
 }
 .sixteen_img img{
   width: 100%;
    height: 100%;
    object-fit: contain;
 }
 .sixteen_content{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: x-large;
 

 }